{% extends 'base.html.twig' %}
{% block content%}



<div>











{#
<script>
    // Récupérez les données du localStorage
    const localStorageData = localStorage.getItem('basket');

    // Vérifiez si des données sont présentes dans le localStorage
    if (localStorageData) {
        // Convertissez les données JSON en objet JavaScript
        const data = JSON.parse(localStorageData);

        // Accédez aux éléments de l'objet et affichez-les dans la liste
        const localStorageList = document.getElementById('localStorageData');
        for (const key in data) {
            if (data.hasOwnProperty(key)) {
                const listItem = document.createElement('li');
                listItem.textContent = `${key}: ${data[key]}`;
                localStorageList.appendChild(listItem);
            }
        }
    } else {
        // Si aucune donnée n'est présente dans le localStorage
        const noDataMessage = document.createElement('p');
        noDataMessage.textContent = 'Aucune donnée dans le localStorage.';
        document.body.appendChild(noDataMessage);
    }
</script>
#}

<ul id="localStorageData"></ul>







<!-- preloader area start -->
<div class="preloader" id="preloader">
    <div class="preloader-inner">
        <div class="loader">
        </div>
    </div>
</div>
<!-- preloader area end -->

<!--  search Popup start -->
<div class="body-overlay" id="body-overlay"></div>
<div class="search-popup" id="search-popup">
    <form action="index.html" class="search-form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search.....">
        </div>
        <button class="close-btn border-none"><i class="fas fa-search"></i></button>
    </form>
</div>
<!-- Search Popup End -->

<div class="page-wrapper">
    <!-- nav area start here -->
    <div class="nav-area-wrapper-relative">

    </div>
    <!-- nav area end here -->

    <!-- about page start here  -->
    <div class="course-details-wrapper single-page-section-top-space single-page-section-bottom-space">
        <!-- breadcrumb area start here  -->
        <div class="breadcrumb-wrap style-01">
            <div class="container custom-container-01">
                <div class="row">

                            <div class="breadcrumb-content">
                                <h3 class="title">Panier</h3>
                                <p class="details">4 articles dans le panier</p>

                                <div id="panier">
                                    <ul id="liste-panier">
                                        <!-- Les événements du panier seront affichés ici sous forme de liste -->
                                        {#
                                        <li data-event-id="f32b037e-5af2-4ff8-a7c5-062fb7b512c4"
                                            data-event-title="Créneau disponible"
                                            data-event-start="Fri Aug 18 2023 10:00:00 GMT+0200 (heure d’été d’Europe centrale)"
                                            data-event-end="Fri Aug 18 2023 11:00:00 GMT+0200 (heure d’été d’Europe centrale)">
                                            Titre: Créneau disponible<br>Début: Fri Aug 18 2023 10:00:00 GMT+0200 (heure
                                            d’été d’Europe centrale)<br>Fin: Fri Aug 18 2023 11:00:00 GMT+0200 (heure d’été
                                            d’Europe centrale)<br><br></li>
                                        <li data-event-id="4b14ef2e-6fa8-4caf-8557-f94ad14362ef"
                                            data-event-title="Créneau disponible"
                                            data-event-start="Sat Aug 19 2023 10:00:00 GMT+0200 (heure d’été d’Europe centrale)"
                                            data-event-end="Sat Aug 19 2023 11:00:00 GMT+0200 (heure d’été d’Europe centrale)">
                                            Titre: Créneau disponible<br>Début: Sat Aug 19 2023 10:00:00 GMT+0200 (heure
                                            d’été d’Europe centrale)<br>Fin: Sat Aug 19 2023 11:00:00 GMT+0200 (heure d’été
                                            d’Europe centrale)<br><br></li>
                                        #}
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="checkout-wrap">
                                    <span class="total">Total</span>
                                    <span class="price">XOF 169.98</span>
                                    <span class="text">Avez-vous un code de réduction ?</span>
                                    <div class="copun-box">
                                        <input type="text" placeholder="Entrer le code du coupon">
                                        <button type="submit">Valider</button>
                                    </div>
                                    <div class="form-submit">
                                        <button type="submit" class="btn-common btn-active">Payer maintenant
                                        </button>
                                    </div>
                                </div>
                            </div>
                                         {#    <div id="localStorageContent"></div>

                                                    <!-- Les données seront affichées ici -->
                                                </div>
                                             #}

                </div>
             </div>
        </div>

        <!-- breadcrumb area end here  -->





            <div class="row mt-5">
                <div class="col-lg-12">
                    <h4 class="section-title-2">Ces cours pourraient également vous interesser</h4>

                    <div class="slick-main slick-main global-slick-init dots-style-03" data-infinite="true"
                         data-arrows="false" data-fade="false" data-speed="500" data-slidesToShow="4"
                         data-slidesToScroll="1" data-swipeToSlide="true" data-autoplay="true"
                         data-autoplaySpeed="2500" data-dots="false" data-responsive='[
                                                    {"breakpoint": 1367,"settings": {"slidesToShow": 3}},
                                                    {"breakpoint": 650,"settings": {"slidesToShow": 2}},
                                                    {"breakpoint": 576, "settings": {"slidesToShow": 1}}
                                                    ]'>
                        <div class="slick-item">
                            <div class="single-course-item">
                                <div class="thumbnail zoom-in">
                                    <div class="background-image"
                                         style="background-image: url(assets/img/course/01.png);"></div>
                                </div>
                                <div class="contact">
                                    <p class="tag">Harverd University</p>
                                    <h3 class="title">
                                        <a href="#">Become Ethereum Blockchain Developer</a>
                                    </h3>

                                    <div class="meta-box">
                                        <div class="left-content">
                                            <div class="feedback">
                                                <i class="fas fa-star icon"></i>
                                                <span class="text">4.8 (756)</span>
                                            </div>
                                        </div>
                                        <div class="right-content">
                                            <p class="price">$25.50</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="hover-option">
                                    <div class="contact">
                                        <p class="tag">Harverd University</p>
                                        <h3 class="title">
                                            <a href="#">Become Ethereum Blockchain Developer</a>
                                        </h3>

                                        <p class="paragraph">We have professional alliance's with leading
                                            Universities
                                            Colleges
                                            around the world.
                                        </p>

                                        <div class="meta-box">
                                            <div class="left-content">
                                                <div class="feedback">
                                                    <i class="fa-solid fa-user-group icon"></i>
                                                    <span class="text">548796</span>
                                                </div>
                                            </div>
                                            <div class="right-content">
                                                <i class="fa-solid fa-clock icon"></i>
                                                <span class="duration">23 hr 54 min</span>
                                            </div>
                                        </div>

                                        <div class="video-play-wrapper">
                                            <a class="video-play-btn mfp-iframe"
                                               href="https://www.youtube.com/watch?v=c7XEhXZ_rsk">
                                                <svg width="14" height="25" viewBox="0 0 14 25" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                            d="M13.124 12.6362L0.364909 24.7606L0.36491 0.511875L13.124 12.6362Z"
                                                            fill="white"></path>
                                                </svg>
                                            </a>

                                            <p class="text">Watch Intro</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="slick-item">
                            <div class="single-course-item">
                                <div class="thumbnail zoom-in">
                                    <div class="background-image"
                                         style="background-image: url(assets/img/course/02.png);"></div>
                                </div>
                                <div class="contact">
                                    <p class="tag">Esther Howard</p>
                                    <h3 class="title">
                                        <a href="#">Leadership Training: Human Leadership</a>
                                    </h3>

                                    <div class="meta-box">
                                        <div class="left-content">
                                            <div class="feedback">
                                                <i class="fas fa-star icon"></i>
                                                <span class="text">4.8 (756)</span>
                                            </div>
                                        </div>
                                        <div class="right-content">
                                            <p class="price">$25.50</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="hover-option">
                                    <div class="contact">
                                        <p class="tag">Esther Howard</p>
                                        <h3 class="title">
                                            <a href="#">Leadership Training: Human Leadership</a>
                                        </h3>

                                        <p class="paragraph">We have professional alliance's with leading
                                            Universities
                                            Colleges
                                            around the world.
                                        </p>

                                        <div class="meta-box">
                                            <div class="left-content">
                                                <div class="feedback">
                                                    <i class="fa-solid fa-user-group icon"></i>
                                                    <span class="text">548796</span>
                                                </div>
                                            </div>
                                            <div class="right-content">
                                                <i class="fa-solid fa-clock icon"></i>
                                                <span class="duration">23 hr 54 min</span>
                                            </div>
                                        </div>

                                        <div class="video-play-wrapper">
                                            <a class="video-play-btn mfp-iframe"
                                               href="https://www.youtube.com/watch?v=c7XEhXZ_rsk">
                                                <svg width="14" height="25" viewBox="0 0 14 25" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                            d="M13.124 12.6362L0.364909 24.7606L0.36491 0.511875L13.124 12.6362Z"
                                                            fill="white"></path>
                                                </svg>
                                            </a>

                                            <p class="text">Watch Intro</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="slick-item">
                            <div class="single-course-item">
                                <div class="thumbnail zoom-in">
                                    <div class="background-image"
                                         style="background-image: url(assets/img/course/03.png);"></div>
                                </div>
                                <div class="contact">
                                    <p class="tag">Leslie Alexander</p>
                                    <h3 class="title">
                                        <a href="#">Beginner friendly web development course A2Z</a>
                                    </h3>

                                    <div class="meta-box">
                                        <div class="left-content">
                                            <div class="feedback">
                                                <i class="fas fa-star icon"></i>
                                                <span class="text">4.8 (756)</span>
                                            </div>
                                        </div>
                                        <div class="right-content">
                                            <p class="price">$25.50</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="hover-option">
                                    <div class="contact">
                                        <p class="tag">Leslie Alexander</p>
                                        <h3 class="title">
                                            <a href="#">Beginner friendly web development course A2Z</a>
                                        </h3>

                                        <p class="paragraph">We have professional alliance's with leading
                                            Universities
                                            Colleges
                                            around the world.
                                        </p>

                                        <div class="meta-box">
                                            <div class="left-content">
                                                <div class="feedback">
                                                    <i class="fa-solid fa-user-group icon"></i>
                                                    <span class="text">548796</span>
                                                </div>
                                            </div>
                                            <div class="right-content">
                                                <i class="fa-solid fa-clock icon"></i>
                                                <span class="duration">23 hr 54 min</span>
                                            </div>
                                        </div>

                                        <div class="video-play-wrapper">
                                            <a class="video-play-btn mfp-iframe"
                                               href="https://www.youtube.com/watch?v=c7XEhXZ_rsk">
                                                <svg width="14" height="25" viewBox="0 0 14 25" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                            d="M13.124 12.6362L0.364909 24.7606L0.36491 0.511875L13.124 12.6362Z"
                                                            fill="white"></path>
                                                </svg>
                                            </a>

                                            <p class="text">Watch Intro</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="slick-item">
                            <div class="single-course-item">
                                <div class="thumbnail zoom-in">
                                    <div class="background-image"
                                         style="background-image: url(assets/img/course/06.png);"></div>
                                </div>
                                <div class="contact">
                                    <p class="tag">Esther Howard</p>
                                    <h3 class="title">
                                        <a href="#">Self development- Be your own boss</a>
                                    </h3>

                                    <div class="meta-box">
                                        <div class="left-content">
                                            <div class="feedback">
                                                <i class="fas fa-star icon"></i>
                                                <span class="text">4.8 (756)</span>
                                            </div>
                                        </div>
                                        <div class="right-content">
                                            <p class="price">$25.50</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="hover-option">
                                    <div class="contact">
                                        <p class="tag">Esther Howard</p>
                                        <h3 class="title">
                                            <a href="#">Self development- Be your own boss</a>
                                        </h3>

                                        <p class="paragraph">We have professional alliance's with leading
                                            Universities
                                            Colleges
                                            around the world.
                                        </p>

                                        <div class="meta-box">
                                            <div class="left-content">
                                                <div class="feedback">
                                                    <i class="fa-solid fa-user-group icon"></i>
                                                    <span class="text">548796</span>
                                                </div>
                                            </div>
                                            <div class="right-content">
                                                <i class="fa-solid fa-clock icon"></i>
                                                <span class="duration">23 hr 54 min</span>
                                            </div>
                                        </div>

                                        <div class="video-play-wrapper">
                                            <a class="video-play-btn mfp-iframe"
                                               href="https://www.youtube.com/watch?v=c7XEhXZ_rsk">
                                                <svg width="14" height="25" viewBox="0 0 14 25" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                            d="M13.124 12.6362L0.364909 24.7606L0.36491 0.511875L13.124 12.6362Z"
                                                            fill="white"></path>
                                                </svg>
                                            </a>

                                            <p class="text">Watch Intro</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="slick-item">
                            <div class="single-course-item">
                                <div class="thumbnail zoom-in">
                                    <div class="background-image"
                                         style="background-image: url(assets/img/course/10.png);"></div>
                                </div>
                                <div class="contact">
                                    <p class="tag">Esther Howard</p>
                                    <h3 class="title">
                                        <a href="#">Learn Python: The Complete Python Programming</a>
                                    </h3>

                                    <div class="meta-box">
                                        <div class="left-content">
                                            <div class="feedback">
                                                <i class="fas fa-star icon"></i>
                                                <span class="text">4.8 (756)</span>
                                            </div>
                                        </div>
                                        <div class="right-content">
                                            <p class="price">$25.50</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="hover-option">
                                    <div class="contact">
                                        <p class="tag">Esther Howard</p>
                                        <h3 class="title">
                                            <a href="#">Learn Python: The Complete Python Programming</a>
                                        </h3>

                                        <p class="paragraph">We have professional alliance's with leading
                                            Universities
                                            Colleges
                                            around the world.
                                        </p>

                                        <div class="meta-box">
                                            <div class="left-content">
                                                <div class="feedback">
                                                    <i class="fa-solid fa-user-group icon"></i>
                                                    <span class="text">548796</span>
                                                </div>
                                            </div>
                                            <div class="right-content">
                                                <i class="fa-solid fa-clock icon"></i>
                                                <span class="duration">23 hr 54 min</span>
                                            </div>
                                        </div>

                                        <div class="video-play-wrapper">
                                            <a class="video-play-btn mfp-iframe"
                                               href="https://www.youtube.com/watch?v=c7XEhXZ_rsk">
                                                <svg width="14" height="25" viewBox="0 0 14 25" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                            d="M13.124 12.6362L0.364909 24.7606L0.36491 0.511875L13.124 12.6362Z"
                                                            fill="white"></path>
                                                </svg>
                                            </a>

                                            <p class="text">Watch Intro</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="slick-item">
                            <div class="single-course-item">
                                <div class="thumbnail zoom-in">
                                    <div class="background-image"
                                         style="background-image: url(assets/img/course/12.png);"></div>
                                </div>
                                <div class="contact">
                                    <p class="tag">Ralph Edwards</p>
                                    <h3 class="title">
                                        <a href="#">The Ultimate Drawing Course - Beginner to Advanced</a>
                                    </h3>

                                    <div class="meta-box">
                                        <div class="left-content">
                                            <div class="feedback">
                                                <i class="fas fa-star icon"></i>
                                                <span class="text">4.8 (756)</span>
                                            </div>
                                        </div>
                                        <div class="right-content">
                                            <p class="price">$25.50</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="hover-option">
                                    <div class="contact">
                                        <p class="tag">Ralph Edwards</p>
                                        <h3 class="title">
                                            <a href="#">The Ultimate Drawing Course - Beginner to Advanced</a>
                                        </h3>

                                        <p class="paragraph">We have professional alliance's with leading
                                            Universities
                                            Colleges
                                            around the world.
                                        </p>

                                        <div class="meta-box">
                                            <div class="left-content">
                                                <div class="feedback">
                                                    <i class="fa-solid fa-user-group icon"></i>
                                                    <span class="text">548796</span>
                                                </div>
                                            </div>
                                            <div class="right-content">
                                                <i class="fa-solid fa-clock icon"></i>
                                                <span class="duration">23 hr 54 min</span>
                                            </div>
                                        </div>

                                        <div class="video-play-wrapper">
                                            <a class="video-play-btn mfp-iframe"
                                               href="https://www.youtube.com/watch?v=c7XEhXZ_rsk">
                                                <svg width="14" height="25" viewBox="0 0 14 25" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                            d="M13.124 12.6362L0.364909 24.7606L0.36491 0.511875L13.124 12.6362Z"
                                                            fill="white"></path>
                                                </svg>
                                            </a>

                                            <p class="text">Watch Intro</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- about page end here  -->

    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        footer area start Here
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

</main>

{#
<script>

    const data = {
        title: event.event.title,
        start: event.event.start,
        end: event.event.end
    };
    localStorage.setItem("basket", JSON.stringify(data));

    const storedDataJSON = localStorage.getItem("basket");
    const storedData = JSON.parse(storedDataJSON);

    // Créer un élément HTML pour afficher les données
    const eventContainer = document.createElement("div");
    eventContainer.innerHTML = `
    <h1>${storedData.title}</h1>
    <p>Date de début : ${storedData.start}</p>
    <p>Date de fin : ${storedData.end}</p>
`;

    // Ajouter l'élément au document HTML (par exemple, à un div avec l'id "content")
    document.getElementById("content").appendChild(eventContainer);
</script>
#}
{#
<script>
    // Récupérez le panier depuis le Local Storage
    var storedBasket = localStorage.getItem('basket');

    // Si le panier existe dans le Local Storage, convertissez-le en tableau JavaScript
    if (storedBasket) {
    var basket = JSON.parse(storedBasket);
    // Maintenant, "basket" contient les données que vous avez enregistrées précédemment.
    } else {
    // Le panier n'existe pas encore dans le Local Storage.
    }

</script>
#}


{# Le code ci dessous fonctionne


<script>
    // Récupérer les données du local storage
    const basketData = JSON.parse(localStorage.getItem('basket'));
    const panierDiv = document.getElementById('panier');

    // Vérifier si le panier n'est pas vide
    if (basketData && basketData.length > 0) {
        // Parcourir les données et afficher chaque événement
        for (let i = 0; i < basketData.length; i += 3) {
            const title = basketData[i];
            const start = new Date(basketData[i + 1]);
            const end = new Date(basketData[i + 2]);

            // Créer des éléments HTML pour afficher les informations
            const eventDiv = document.createElement('div');
            eventDiv.innerHTML = `
        <div class="container custom-container-01">
            <div class="row">
                <div class="col-lg-12">
                    <div class="similler-course-list-wrap mt-0">
                        <ul class="ul simillar-course-list style-02 mt-0">
                            <li class="single-simillar-course-item">
                                <div class="thumb">
                                    <img src="assets/img/related-course/04.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="left-content">
                                        <h4 class="title">
                                            <a href="#">Titre: ${title}</a>
                                            <p href="#">Début: ${start.toString()}</p>
                                            <p href="#">Fin: ${end.toString()}</p>
                                        </h4>

                                        <div class="rating-and-enrolled">
                                            <div class="rating-wrap">
                                                    <span class="star">
                                                        <i class="fa-solid fa-star icon"></i>
                                                    </span>
                                                <span class="nubm">4.8 (756)</span>
                                            </div>
                                            <div class="enrolled-wrap">
                                                <i class="fa-solid fa-user-group icon"></i>
                                                <span class="text">97538 Enrolled</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-content">
                                        <span class="remove">Remove</span>
                                        <span class="price">XOF 25.50</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div> `;




                     <h2>Titre: ${title}</h2>
                    <p>Début: ${start.toString()}</p>
                    <p>Fin: ${end.toString()}</p>


            // Ajouter l'élément au div du panier
            panierDiv.appendChild(eventDiv);

    } else {
        panierDiv.innerHTML = 'Le panier est vide.';
    }


</script>
#}


    <script>
        // Récupérer les données du local storage
        const basketData = JSON.parse(localStorage.getItem('basket'));
        const panierDiv = document.getElementById('panier');

        // Fonction pour formater une date en français (jour, mois, année, heure sans secondes)
        function formatDateWithoutSeconds(dateString) {
            const date = new Date(dateString);
            const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' };
            return date.toLocaleDateString('fr-FR', options);
        }

        // Vérifier si le panier n'est pas vide
        if (basketData && basketData.length > 0) {
            // Parcourir les données et afficher chaque événement
            for (let i = 0; i < basketData.length; i += 3) {
               // const title = basketData[i];
                const start = formatDateWithoutSeconds(basketData[i + 1]); // Utilisez la fonction formatDateWithoutSeconds pour formater la date
                const end = formatDateWithoutSeconds(basketData[i + 2]);   // Utilisez la fonction formatDateWithoutSeconds pour formater la date
                const selectedValue = basketData[i];


                // Créer des éléments HTML pour afficher les informations
                const eventDiv = document.createElement('div');
                eventDiv.innerHTML = `
                <div class="container custom-container-01">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="similler-course-list-wrap mt-0">
                                <ul class="ul simillar-course-list style-02 mt-0">
                                    <li class="single-simillar-course-item">
                                        <div class="thumb">
                                            <img src="assets/img/related-course/04.jpg" alt="">
                                        </div>
                                        <div class="content">
                                            <div class="left-content">
                                                <h4 class="title">
                                                    <a href="#">Titre:  ${selectedValue}</a>
                                                    <p href="#">Début: ${start}</p>
                                                    <p href="#">Fin: ${end}</p>

                                                </h4>

                                                <div class="rating-and-enrolled">
                                                    <div class="rating-wrap">
                                                        <span class="star">
                                                            <i class="fa-solid fa-star icon"></i>
                                                        </span>
                                                        <span class="nubm">4.8 (756)</span>
                                                    </div>
                                                    <div class="enrolled-wrap">
                                                        <i class="fa-solid fa-user-group icon"></i>
                                                        <span class="text">97538 Inscrits</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right-content">
                                                <span class="remove">Supprimer</span>
                                                <span class="price">XOF 25.50</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            `;

                // Ajouter l'élément au div du panier
                panierDiv.appendChild(eventDiv);
            }
        } else {
            panierDiv.innerHTML = 'Le panier est vide.';
        }

    </script>







    </body>




    {% endblock %}