{% extends 'base.html.twig' %}

{% block content %}
    <div style="height: 500px;margin-top: 15rem;margin-bottom: 6rem">
        {{ render_chart(chart) }}
      {#   {{ render_chart(chart, {'class': 'my-chart'}) }} #}
    </div>
{% endblock %}