{% extends "base.html.twig"%}

{% block stylesheets %}
    <style>
    </style>
{% endblock %}

{% block content %}

    <body>


    <!-- templates/multiform/step1.html.twig -->
<div style="margin-top:10rem">
        <!-- Les champs de la première étape -->
        <button type="button" hx-get="{{ path('home') }}">Étape suivante</button>

</div>

    </body>


{% endblock %}

