{% extends 'base.html.twig' %}
{% block content %}



<body>
<!-- preloader area start -->
<div class="preloader" id="preloader">
    <div class="preloader-inner">
        <div class="loader">
        </div>
    </div>
</div>
<!-- preloader area end -->

<!--  search Popup start -->
<div class="body-overlay" id="body-overlay"></div>
<div class="search-popup" id="search-popup">
    <form action="index.html" class="search-form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search.....">
        </div>
        <button class="close-btn border-none"><i class="fas fa-search"></i></button>
    </form>
</div>
<!-- Search Popup End -->

<main class="page-wrapper">
    <div class="nav-area-wrapper-relative">

    </div>

    <!-- about page start here  -->
    <div class="about-page-area-wrapper single-page-section-top-space single-page-section-bottom-space">
        <!-- about area start here  -->
        <section class="about-section-area section-bottom-space">
            <div class="container custom-container-01">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-content">
                            <h3 class="content-title">About us</h3>

                            <p class="paragraph">At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
                                molestias excepturi sint occaecati cupiditate non provident, similique sunt in
                                culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                            <p class="paragraph">Et
                                harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                                soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                                placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                                Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
                                eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum
                                rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias
                                consequatur aut perferendis doloribus asperiores repellat
                            </p>

                            <div class="icon-box-with-text-wrap">
                                <ul class="ul icon-box-with-text style-01">
                                    <li class="single-icon-box-with-text">
                                        <div class="icon-wrap color-01">
                                            <img src="assets/img/icon/icon-and-text/key.svg" alt="">
                                        </div>
                                        <div class="content">
                                            <p class="text">Vous souhaitez démarrer un cours en ligne ? Toutes les étapes <b><u>ici</u></b>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="single-icon-box-with-text style-02">
                                        <div class="icon-wrap color-02">
                                            <img src="assets/img/icon/icon-and-text/board.svg" alt="">
                                        </div>
                                        <div class="content">
                                            <p class="text">Nous mettons à votre services des enseignants passionnés et expérimentés
                                            </p>
                                        </div>
                                    </li>
                                    <li class="single-icon-box-with-text style-03">
                                        <div class="icon-wrap color-03">
                                            <img src="assets/img/icon/icon-and-text/monitor.svg" alt="">
                                        </div>
                                        <div class="content">
                                            <p class="text">Des cours en ligne avec des enseignants qualifiés
                                                mais auss des module d'elearning afin d'aapprendre en toute autonomie</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="btn-wrap">
                                <a href="#" class="btn-common btn-new">Nos formations</a>
                                <a href="#" class="btn-common btn-new">Nos enseignants</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="thumbnail ">
                            <div class="right-frame">
                                <img src="assets/img/about/01.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about area end here  -->

        <!-- our team area start here  -->
        <section class="our-team-area-wrapper section-top-space">
            <div class="our-team-inner">
                <div class="container custom-container-01">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="section-title-wrapper text-center">
                                <h5 class="subtitle">VISIOCONFERENCE</h5>
                                <h4 class="section-title">Rencontrez nos enseignants</h4>
                                <p class="description">87 % des personnes qui ont suivi au moins une des formations sur la plateforme en vue d'un développement professionnel confirment en être ressorti grandi</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="slick-main slick-main global-slick-init dots-style-03 dots-space"
                                 data-infinite="true" data-arrows="true" data-fade="false" data-speed="500"
                                 data-slidesToShow="3" data-slidesToScroll="1" data-swipeToSlide="true"
                                 data-autoplay="true" data-autoplaySpeed="2500" data-dots="true" data-responsive='[
                                                    {"breakpoint": 1367,"settings": {"slidesToShow": 3}},
                                                    {"breakpoint": 992,"settings": {"slidesToShow": 2}},
                                                    {"breakpoint": 600, "settings": {"slidesToShow": 1}}
                                                    ]'>
                                <div class="slick-item">
                                    <div class="single-team-item style-01">
                                        <div class="thumbnail">
                                            <img src="assets/img/team/style-01/01.jpg" alt="team image">

                                            <ul class="ul social-media-list style-01">
                                                <li class="single-social-item">
                                                    <a href="#">
                                                        <i class="fa-brands fa-instagram icon"></i>
                                                    </a>
                                                </li>
                                                <li class="single-social-item">
                                                    <a href="#">
                                                        <i class="fa-brands fa-facebook-f icon"></i>
                                                    </a>
                                                </li>
                                                <li class="single-social-item">
                                                    <a href="#">
                                                        <i class="fa-brands fa-youtube icon"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="content">
                                            <h4 class="title">
                                                <a href="#">Cody Fisher</a>
                                            </h4>
                                            <p class="designation">Senior Consultants, Eduplan</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="slick-item">
                                    <div class="single-team-item style-01">
                                        <div class="thumbnail">
                                            <img src="assets/img/team/style-01/02.jpg" alt="team image">

                                            <ul class="ul social-media-list style-01">
                                                <li class="single-social-item">
                                                    <a href="#">
                                                        <i class="fa-brands fa-instagram icon"></i>
                                                    </a>
                                                </li>
                                                <li class="single-social-item">
                                                    <a href="#">
                                                        <i class="fa-brands fa-facebook-f icon"></i>
                                                    </a>
                                                </li>
                                                <li class="single-social-item">
                                                    <a href="#">
                                                        <i class="fa-brands fa-youtube icon"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="content">
                                            <h4 class="title">
                                                <a href="#">Brooklyn Simmons</a>
                                            </h4>
                                            <p class="designation">Consultants, Eduplan</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="slick-item">
                                    <div class="single-team-item style-01">
                                        <div class="thumbnail">
                                            <img src="assets/img/team/style-01/03.jpg" alt="team image">

                                            <ul class="ul social-media-list style-01">
                                                <li class="single-social-item">
                                                    <a href="#">
                                                        <i class="fa-brands fa-instagram icon"></i>
                                                    </a>
                                                </li>
                                                <li class="single-social-item">
                                                    <a href="#">
                                                        <i class="fa-brands fa-facebook-f icon"></i>
                                                    </a>
                                                </li>
                                                <li class="single-social-item">
                                                    <a href="#">
                                                        <i class="fa-brands fa-youtube icon"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="content">
                                            <h4 class="title">
                                                <a href="#">Jenny Wilson</a>
                                            </h4>
                                            <p class="designation">Senior Consultants, Eduplan</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="slick-item">
                                    <div class="single-team-item style-01">
                                        <div class="thumbnail">
                                            <img src="assets/img/team/style-01/03.jpg" alt="team image">

                                            <ul class="ul social-media-list style-01">
                                                <li class="single-social-item">
                                                    <a href="#">
                                                        <i class="fa-brands fa-instagram icon"></i>
                                                    </a>
                                                </li>
                                                <li class="single-social-item">
                                                    <a href="#">
                                                        <i class="fa-brands fa-facebook-f icon"></i>
                                                    </a>
                                                </li>
                                                <li class="single-social-item">
                                                    <a href="#">
                                                        <i class="fa-brands fa-youtube icon"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="content">
                                            <h4 class="title">
                                                <a href="#">Jenny Wilson</a>
                                            </h4>
                                            <p class="designation">Senior Consultants, Eduplan</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- our team area end here  -->

        <!-- counter area start here -->
        <section class="counter-area-wrapper">
            <div class="counter-section-area">
                <div class="container custom-container-01">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="counter-section-inner style-01">
                                <div class="single-counterup">
                                    <div class="image-wrap">
                                        <img src="assets/img/sections/client/people-group.png" alt="">
                                    </div>
                                    <div class="content-wrap">
                                        <div class="odo-area">
                                            <h3 class="odometer odo-title" data-odometer-final="458712">0</h3>
                                        </div>
                                        <div class="content">
                                            <h6 class="subtitle">More then students</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-counterup">
                                    <div class="image-wrap">
                                        <img src="assets/img/sections/client/customer-care.png" alt="">
                                    </div>
                                    <div class="content-wrap">
                                        <div class="odo-area">
                                            <h3 class="odometer odo-title" data-odometer-final="211">0</h3>
                                        </div>
                                        <div class="content">
                                            <h6 class="subtitle">Total consultants</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-counterup">
                                    <div class="image-wrap">
                                        <img src="assets/img/sections/client/graduation.png" alt="">
                                    </div>
                                    <div class="content-wrap">
                                        <div class="odo-area">
                                            <h3 class="odometer odo-title" data-odometer-final="425">0</h3>
                                        </div>
                                        <div class="content">
                                            <h6 class="subtitle">Total courses</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-counterup">
                                    <div class="image-wrap">
                                        <img src="assets/img/sections/client/world.png" alt="">
                                    </div>
                                    <div class="content-wrap">
                                        <div class="odo-area">
                                            <h3 class="odometer odo-title" data-odometer-final="32">0</h3>
                                        </div>
                                        <div class="content">
                                            <h6 class="subtitle">Countries</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- counter area end here -->

        <!-- chose us area start here  -->
        <section class="chose-area-wrapper section-bottom-space">
            <div class="chose-area-inner bg-color-01">
                <div class="bg-image background-image" style="background-image: url(assets/img/chose-us/01.jpg);">
                </div>
                <div class="container custom-container-01">
                    <div class="row justify-content-end">
                        <div class="col-lg-6">
                            <div class="img-box">

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="content-wrap">
                                <div class="section-title-wrapper">
                                    <h4 class="section-title">Pourquoi nous choisir ?</h4>
                                    <p class="description color-02">87 % des personnes qui ont
                                        suivi au moins une des formations sur la plateforme en
                                        vue d'un développement professionnel confirment en être
                                        ressorti grandi</p>
                                </div>

                                <div class="icon-box-with-text-wrap">
                                    <ul class="ul icon-box-with-text style-02">
                                        <li class="single-icon-box-with-text">
                                            <div class="icon-wrap">
                                                <img src="assets/img/icon/icon-and-text/02/01.png" alt="">
                                            </div>
                                            <div class="content">
                                                <h4 class="title">Notre Vision</h4>
                                                <p class="paragraph">Notre vision est d'être la première
                                                    agence de conseil et de recrutement d'étudiants au
                                                    monde en satisfaisant nos clients dans tous les aspects.
                                                </p>
                                            </div>
                                        </li>
                                        <li class="single-icon-box-with-text style-02">
                                            <div class="icon-wrap">
                                                <img src="assets/img/icon/icon-and-text/02/02.png" alt="">
                                            </div>
                                            <div class="content">
                                                <h4 class="title">Notre Mission</h4>
                                                <p class="paragraph">La mission de l'entreprise est d'atteindre l'excellence
                                                    dans l'apprentissage de nos apprenants grâce à des enseignants qualifiés et compétents d'excellents

                                                </p>
                                            </div>
                                        </li>
                                        <li class="single-icon-box-with-text style-03">
                                            <div class="icon-wrap">
                                                <img src="assets/img/icon/icon-and-text/02/03.png" alt="">
                                            </div>
                                            <div class="content">
                                                <h4 class="title">Notre Objectif</h4>
                                                <p class="paragraph">Accroitre les compétences de nos apprenants
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- chose us area end here  -->

        <!-- testimonial area start here  -->
        <section class="testimonial-area-wrapper section-top-space">
            <div class="container custom-container-01">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title-wrapper text-center">
                            <h5 class="subtitle">RETOUR D'EXPÉRIENCE</h5>
                            <h4 class="section-title">Les avis de nos utilisateurs</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slick-main global-slick-init" data-infinite="true" data-arrows="true"
                             data-fade="false" data-speed="500" data-dots="false" data-slidesToShow="3"
                             data-slidesToScroll="1" data-swipeToSlide="true" data-autoplay="true"
                             data-autoplaySpeed="2500" data-responsive='[
                                {"breakpoint": 1367,"settings": {"slidesToShow": 3}},
                                {"breakpoint": 992,"settings": {"slidesToShow": 2}},
                                {"breakpoint": 600, "settings": {"slidesToShow": 1}}
                                ]'>

                            <div class="slick-item">
                                <div class="testimonial-single-items style-01 v-02">
                                    <div class="feedback-wrap">
                                        <ul class="ul feedback-icon-list">
                                            <li class="single-feedback-item">
                                                <i class="fas fa-star icon"></i>
                                            </li>
                                            <li class="single-feedback-item">
                                                <i class="fas fa-star icon"></i>
                                            </li>
                                            <li class="single-feedback-item">
                                                <i class="fas fa-star icon"></i>
                                            </li>
                                            <li class="single-feedback-item">
                                                <i class="fas fa-star icon"></i>
                                            </li>
                                            <li class="single-feedback-item">
                                                <i class="fas fa-star icon"></i>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="content">
                                        <p class="feedback-text">“I able to prove potential employers that i have a
                                            solid
                                            understanding of
                                            computers &
                                            hardware- and started to receive real, viable job offers”.</p>
                                    </div>

                                    <div class="client-and-quote">
                                        <div class="client-details">
                                            <div class="thumb">
                                                <img src="assets/img/sections/testimonial/tesi-01.png" alt="">
                                            </div>
                                            <div class="content">
                                                <p class="client-name">Savannah Nguyen</p>
                                                <p class="designation">Central African Republic</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="slick-item">
                                <div class="testimonial-single-items style-01 v-02">
                                    <div class="feedback-wrap">
                                        <ul class="ul feedback-icon-list">
                                            <li class="single-feedback-item">
                                                <i class="fas fa-star icon"></i>
                                            </li>
                                            <li class="single-feedback-item">
                                                <i class="fas fa-star icon"></i>
                                            </li>
                                            <li class="single-feedback-item">
                                                <i class="fas fa-star icon"></i>
                                            </li>
                                            <li class="single-feedback-item">
                                                <i class="fas fa-star icon"></i>
                                            </li>
                                            <li class="single-feedback-item">
                                                <i class="fas fa-star icon"></i>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="content">
                                        <p class="feedback-text">“I able to prove potential employers that i have a
                                            solid
                                            understanding of
                                            computers &
                                            hardware- and started to receive real, viable job offers”.</p>
                                    </div>

                                    <div class="client-and-quote">
                                        <div class="client-details">
                                            <div class="thumb">
                                                <img src="assets/img/sections/testimonial/testi-02.png" alt="">
                                            </div>
                                            <div class="content">
                                                <p class="client-name">Kathryn Murphy</p>
                                                <p class="designation">Monaco</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="slick-item">
                                <div class="testimonial-single-items style-01 v-02">
                                    <div class="feedback-wrap">
                                        <ul class="ul feedback-icon-list">
                                            <li class="single-feedback-item">
                                                <i class="fas fa-star icon"></i>
                                            </li>
                                            <li class="single-feedback-item">
                                                <i class="fas fa-star icon"></i>
                                            </li>
                                            <li class="single-feedback-item">
                                                <i class="fas fa-star icon"></i>
                                            </li>
                                            <li class="single-feedback-item">
                                                <i class="fas fa-star icon"></i>
                                            </li>
                                            <li class="single-feedback-item">
                                                <i class="fas fa-star icon"></i>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="content">
                                        <p class="feedback-text">“I able to prove potential employers that i have a
                                            solid
                                            understanding of
                                            computers &
                                            hardware- and started to receive real, viable job offers”.</p>
                                    </div>

                                    <div class="client-and-quote">
                                        <div class="client-details">
                                            <div class="thumb">
                                                <img src="assets/img/sections/testimonial/testi-03.png" alt="">
                                            </div>
                                            <div class="content">
                                                <p class="client-name">Kristin Watson</p>
                                                <p class="designation">Guinea</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="slick-item">
                                <div class="testimonial-single-items style-01 v-02">
                                    <div class="feedback-wrap">
                                        <ul class="ul feedback-icon-list">
                                            <li class="single-feedback-item">
                                                <i class="fas fa-star icon"></i>
                                            </li>
                                            <li class="single-feedback-item">
                                                <i class="fas fa-star icon"></i>
                                            </li>
                                            <li class="single-feedback-item">
                                                <i class="fas fa-star icon"></i>
                                            </li>
                                            <li class="single-feedback-item">
                                                <i class="fas fa-star icon"></i>
                                            </li>
                                            <li class="single-feedback-item">
                                                <i class="fas fa-star icon"></i>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="content">
                                        <p class="feedback-text">“I able to prove potential employers that i have a
                                            solid
                                            understanding of
                                            computers &
                                            hardware- and started to receive real, viable job offers”.</p>
                                    </div>

                                    <div class="client-and-quote">
                                        <div class="client-details">
                                            <div class="thumb">
                                                <img src="assets/img/sections/testimonial/testi-02.png" alt="">
                                            </div>
                                            <div class="content">
                                                <p class="client-name">Savannah Nguyen</p>
                                                <p class="designation">Central African Republic</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- testimonial area end here  -->
    </div>
    <!-- about page end here  -->

</main>
</body>
{% endblock %}

